In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("../data/spam_sms_collection.csv")
df.head()

,Unnamed: 0,spam,msg_length,msg
0,0,0,111,go jurong point crazy available bugis n great ...
1,1,0,29,ok lar joking wif u oni
2,2,1,155,free entry wkly comp win fa cup final tkts st ...
3,3,0,49,u dun say early hor u c already say
4,4,0,61,nah think go usf life around though

In [5]:
df = df.drop(["Unnamed: 0"], axis=1)

In [7]:
df.head()

   spam  msg_length                                                msg
0     0         111  go jurong point crazy available bugis n great ...
1     0          29                            ok lar joking wif u oni
2     1         155  free entry wkly comp win fa cup final tkts st ...
3     0          49                u dun say early hor u c already say
4     0          61                nah think go usf life around though

In [8]:
df.reset_index(inplace=True)

In [9]:
df.head()

   index  spam  msg_length                                                msg
0      0     0         111  go jurong point crazy available bugis n great ...
1      1     0          29                            ok lar joking wif u oni
2      2     1         155  free entry wkly comp win fa cup final tkts st ...
3      3     0          49                u dun say early hor u c already say
4      4     0          61                nah think go usf life around though

In [10]:
df.shape

(5572, 4)

In [11]:
df.describe()

             index         spam   msg_length
count  5572.000000  5572.000000  5572.000000
mean   2785.500000     0.134063    80.489950
std    1608.642181     0.340751    59.942907
min       0.000000     0.000000     2.000000
25%    1392.750000     0.000000    36.000000
50%    2785.500000     0.000000    62.000000
75%    4178.250000     0.000000   122.000000
max    5571.000000     1.000000   910.000000

In [12]:
df.to_csv("../data/processed_data.csv", index=False)